<!-- Dashboard -->
<div ng-controller="MachinesCtrl as machinesctrl">

	<div class="">
		<div class="hidden-xs hidden-sm col-md-3 col-lg-3 machines-panel panel" style="background-color: #333; color: #FFF; overflow: auto;">
			<div class="container-fluid" style="padding: 10px;" ng-show="!machinesctrl.machineSingleView.view">
				<button type="button" class="btn btn-info col-md-12 col-lg-12" ng-show="machinesctrl.machineSingleView.machine" ng-click="machinesctrl.toggleSingleView()"><i class="fa fa-arrow-circle-left pull-left" style="font-size: 16px;"></i>ID {{machinesctrl.machineSingleView.machine.connectorid}} - Machine</button>
				<br />
				<h3> Machine <span ng-show="machinesctrl.machinePanel.machines.length > 0">{{machinesctrl.machinePanel.secondary}}</span><span ng-show="machinesctrl.machinePanel.machines.length == 0">Panel</span></h3>
				<div class="machines">
					<div class="row">
						<div class="col-md-11">
							<div ng-show="machinesctrl.machinePanel.machines.length == 0">
								Please click on one of the non-empty modules on the dashboard to see the correspoding machines here.
							</div>
						</div>
					</div>
					<div ng-repeat="machine in machinesctrl.machinePanel.machines | orderBy:machinesctrl.machinePanel.primary" class="machine" style="margin-bottom: 5px;">
						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-danger col-md-12 col-lg-12" ng-click="machinesctrl.getSingleMachine(machine.connectorid)"><i class="fa fa-arrow-circle-left pull-left" style="font-size: 16px;"></i>{{machine.connectorid}}</button>
							</div>
							<div class="col-md-6">
								<p>{{machine[machinesctrl.machinePanel.primary] + ' ' + machinesctrl.machinePanel.suffix}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid" style="padding: 10px;" ng-show="machinesctrl.machineSingleView.view">
				<button type="button" class="btn btn-info col-md-12 col-lg-12" ng-click="machinesctrl.toggleSingleView()">Back<i class="fa fa-arrow-circle-right pull-right" style="font-size: 16px;"></i></button>
				<br />
				<div class="machine" style="padding-top: 20px;">
					<div style="margin: 20px;" class="image text-center">
						<img ng-src="{{machinesctrl.getMachineImage(machinesctrl.machineSingleView.machine.sp_machine_name)}}" height="80">
						<h4>{{machinesctrl.machineSingleView.machine.sp_machine_name}}</h4>
					</div>
					<div style="margin: 10px;" class="image text-center">
						<a ng-href="#/machine/{{machinesctrl.machineSingleView.machine.connectorid}}"><button type="button" class="btn btn-danger col-md-12 col-lg-12">Manage Machine<i class="fa fa-laptop pull-right" style="font-size: 16px;"></i></button></a>
					</div>
					<br /><br /><br />
					<div class="machine row">
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Uptime: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.uptime}} days</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Memory: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.sp_physical_memory}} GBs</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Disk Size: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.swapsize_mb}} MBs</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Disk Space Left: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.swapfree_mb}} MBs</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Warranty: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.apple_warranty}}</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Disk Encrypted: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.swapencrypted}}</p>
							</div>
						</div>

						<div class="col-md-12 row">
							<hr>
						</div>

						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Connector ID: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.connectorid}}</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>User: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.sp_user_name}}</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>CPU Type: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.sp_cpu_type}}</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>OS Version: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.sp_os_version}}</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Serial Number: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.sp_serial_number}}</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>IP Address: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.ipaddress}}</p>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="col-md-5">
								<p>Time Zone: </p>
							</div>
							<div class="col-md-7">
								<p>{{machinesctrl.machineSingleView.machine.timezone}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-panel">

			<div class="alerts">
				<div class="alert alert-danger" role="alert" ng-repeat="alert in machinesctrl.errorAlerts.alerts">
					<p><b>ERROR</b> - Machine ID <b><a ng-click="machinesctrl.showSingleMachine(alert.machine)" style="cursor: pointer;">{{alert.machine.connectorid}}</a></b> has error <b>"{{alert.machine.error.description}}"</b>, caused by <b>"{{alert.machine.error.cause}}"</b>.</p> <span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="machinesctrl.removeDOMAlert(alert.index)"></span>
				</div>
			</div>

			<div class="">
				<input type="button" class="btn btn-info" ng-click="machinesctrl.changeUptimes()" value="Reset Filter" style="width: 100%;">
			</div>

			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<i class="fa fa-globe" style="margin-right: 10px; font-size: 21px;"></i>
					<h3  style="display: inline-block;">Machine Locations</h3>
		        	<div id="map_canvas" style="width: 100%; height: 300px; border: 2px solid #555" ng-model="machinesctrl.machines" filter-machines="machinesctrl.changeUptimes()"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center;">
					<i class="fa fa-clock-o" style="margin-right: 10px; font-size: 21px;"></i>
					<h3  style="display: inline-block;">Uptime</h3>
					<div id="uptime" class="buttons">
						<button type="button" class="btn btn-success" ng-click="machinesctrl.updatePanel(machinesctrl.machineUptimes.low, 'uptime', 'Uptime', 'days', $event)" ng-disabled="machinesctrl.machineUptimes.low.length == 0">
							<p class="machine-counter">{{machinesctrl.machineUptimes.low.length}}</p>
							<p class="machine-property-description">< 1 Day</p>
						</button>
						<button type="button" class="btn btn-warning" ng-click="machinesctrl.updatePanel(machinesctrl.machineUptimes.mid, 'uptime', 'Uptime', 'days', $event)" ng-disabled="machinesctrl.machineUptimes.mid.length == 0">
							<p class="machine-counter">{{machinesctrl.machineUptimes.mid.length}}</p>
							<p class="machine-property-description">< 7 Days</p>
						</button>
						<button type="button" class="btn btn-danger" ng-click="machinesctrl.updatePanel(machinesctrl.machineUptimes.high, 'uptime', 'Uptime', 'days', $event)" ng-disabled="machinesctrl.machineUptimes.high.length == 0">
							<p class="machine-counter">{{machinesctrl.machineUptimes.high.length}}</p>
							<p class="machine-property-description"> 7 Days +</p>
						</button>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center;">
					<i class="fa fa-th" style="margin-right: 10px; font-size: 21px;"></i>
					<h3  style="display: inline-block;">Memory</h3>
					<div id="memory" class="buttons">
						<button type="button" class="btn btn-success" ng-click="machinesctrl.updatePanel(machinesctrl.machineMemories.high, 'sp_physical_memory', 'Memory', 'GB', $event)" ng-disabled="machinesctrl.machineMemories.high.length == 0">
							<p class="machine-counter">{{machinesctrl.machineMemories.high.length}}</p>
							<p class="machine-property-description">8GB +</p>
						</button>
						<button type="button" class="btn btn-warning" ng-click="machinesctrl.updatePanel(machinesctrl.machineMemories.mid, 'sp_physical_memory', 'Memory', 'GB', $event)" ng-disabled="machinesctrl.machineMemories.mid.length == 0">
							<p class="machine-counter">{{machinesctrl.machineMemories.mid.length}}</p>
							<p class="machine-property-description">4GB +</p>
						</button>
						<button type="button" class="btn btn-danger" ng-click="machinesctrl.updatePanel(machinesctrl.machineMemories.low, 'sp_physical_memory', 'Memory', 'GB', $event)" ng-disabled="machinesctrl.machineMemories.low.length == 0">
							<p class="machine-counter">{{machinesctrl.machineMemories.low.length}}</p>
							<p class="machine-property-description">< 4GB</p>
						</button>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center;">
					<i class="fa fa-hdd-o" style="margin-right: 10px; font-size: 21px;"></i>
					<h3  style="display: inline-block;">Disk Space</h3>
					<div id="disk" class="buttons">
						<button type="button" class="btn btn-success" ng-click="machinesctrl.updatePanel(machinesctrl.machineDiskSpace.low, 'swapfree_mb', 'Disk Space Left', 'MB', $event)" ng-disabled="machinesctrl.machineDiskSpace.low.length == 0">
							<p class="machine-counter">{{machinesctrl.machineDiskSpace.low.length}}</p>
							<p class="machine-property-description">< 80%</p>
						</button>
						<button type="button" class="btn btn-warning" ng-click="machinesctrl.updatePanel(machinesctrl.machineDiskSpace.mid, 'swapfree_mb', 'Disk Space Left', 'MB', $event)" ng-disabled="machinesctrl.machineDiskSpace.mid.length == 0">
							<p class="machine-counter">{{machinesctrl.machineDiskSpace.mid.length}}</p>
							<p class="machine-property-description">80% +</p>
						</button>
						<button type="button" class="btn btn-danger" ng-click="machinesctrl.updatePanel(machinesctrl.machineDiskSpace.high, 'swapfree_mb', 'Disk Space Left', 'MB', $event)" ng-disabled="machinesctrl.machineDiskSpace.high.length == 0">
							<p class="machine-counter">{{machinesctrl.machineDiskSpace.high.length}}</p>
							<p class="machine-property-description">90% +</p>
						</button>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6" style="text-align: center;">
					<i class="fa fa-calendar" style="margin-right: 10px; font-size: 21px;"></i>
					<h3  style="display: inline-block;">Warranty</h3>
					<div id="uptime" class="buttons">
						<button type="button" class="btn btn-success" ng-click="machinesctrl.updatePanel(machinesctrl.machineWarranty.low, 'apple_warranty', 'Warranty', '', $event)" ng-disabled="machinesctrl.machineWarranty.low.length == 0">
							<p class="machine-counter">{{machinesctrl.machineWarranty.low.length}}</p>
							<p class="machine-property-description">30+ Days</p>
						</button>
						<button type="button" class="btn btn-warning" ng-click="machinesctrl.updatePanel(machinesctrl.machineWarranty.mid, 'apple_warranty', 'Warranty', '', $event)" ng-disabled="machinesctrl.machineWarranty.mid.length == 0">
							<p class="machine-counter">{{machinesctrl.machineWarranty.mid.length}}</p>
							<p class="machine-property-description">7-30 Days</p>
						</button>
						<button type="button" class="btn btn-danger" ng-click="machinesctrl.updatePanel(machinesctrl.machineWarranty.high, 'apple_warranty', 'Warranty', '', $event)" ng-disabled="machinesctrl.machineWarranty.high.length == 0">
							<p class="machine-counter">{{machinesctrl.machineWarranty.high.length}}</p>
							<p class="machine-property-description">< 7 Days</p>
						</button>
					</div>
				</div>
				<!--<div class="col-md-8 col-lg-6 col-sm-12">
					<i class="fa fa-clock-o" style="margin-right: 10px; font-size: 21px;"></i>
					<h3  style="display: inline-block;">Machine Uptime (days)</h3>
					<div wda-uptime-chart ng-model="machinesctrl.machines" class="bars" style="height: 250px;"></div>
				</div>-->
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="text-align: center;">
					<i class="fa fa-key" style="margin-right: 10px; font-size: 21px;"></i>
					<h3  style="display: inline-block;">Encryption</h3>
					<div id="encryption" class="buttons">
						<button type="button" class="btn btn-success" ng-click="machinesctrl.updatePanel(machinesctrl.machineEncryption.yes, 'swapencrypted', 'Encryption', '', $event)" ng-disabled="machinesctrl.machineEncryption.yes.length == 0">
							<p class="machine-counter">{{machinesctrl.machineEncryption.yes.length}}</p>
							<p class="machine-property-description">True</p>
						</button>
						<button type="button" class="btn btn-danger" ng-click="machinesctrl.updatePanel(machinesctrl.machineEncryption.no, 'swapencrypted', 'Encryption', '', $event)" ng-disabled="machinesctrl.machineEncryption.no.length == 0">
							<p class="machine-counter">{{machinesctrl.machineEncryption.no.length}}</p>
							<p class="machine-property-description">False</p>
						</button>
					</div>	
				</div>
				<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" style="text-align: center;">
					<div>
						<i class="fa fa-laptop" style="margin-right: 10px; font-size: 21px;"></i>
						<h3  style="display: inline-block;">Machine Types</h3>
					</div>
					<div ng-click="machinesctrl.updatePanel(machinesctrl.machineType.air, 'sp_machine_name', 'Type', '', $event)" style="display: inline-block; cursor: pointer;" ng-disabled="machinesctrl.machineType.air.length == 0">
						<img src="/img/machines/macbookair.png" height="80">
						<div style="position: relative;/* display: inline; */color: #FFF;text-shadow: -1px 0 4px #333;top: -70px;left: 31px;width: 85px;background-color: rgba(0, 0, 0, 0.3);font-size: 31px;"><p class="text-stroke">{{machinesctrl.machineType.air.length}}</p></div>
					</div>

					<div ng-click="machinesctrl.updatePanel(machinesctrl.machineType.mini, 'sp_machine_name', 'Type', '', $event)" style="display: inline-block; cursor: pointer;" ng-disabled="machinesctrl.machineType.mini.length == 0">
						<img src="/img/machines/macmini.png" height="80" width="150">
						<div style="position: relative;/* display: inline; */color: #FFF;text-shadow: -1px 0 4px #333;top: -47px;left: 17px;width: 115px;height: 41px;background-color: rgba(0, 0, 0, 0.1);font-size: 31px;">
						<p class="text-stroke">{{machinesctrl.machineType.mini.length}}</p></div>
					</div>

					<div ng-click="machinesctrl.updatePanel(machinesctrl.machineType.pro, 'sp_machine_name', 'Type', '', $event)" style="display: inline-block; cursor: pointer;" ng-disabled="machinesctrl.machineType.pro.length == 0">
						<img src="/img/machines/macbookpro.png" height="80">
						<div style="position: relative;/* display: inline; */color: #FFF;text-shadow: -1px 0 4px #333;top: -70px;left: 31px;width: 85px;background-color: rgba(0, 0, 0, 0.3);font-size: 31px;"><p class="text-stroke">{{machinesctrl.machineType.pro.length}}</p></div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
<!-- /Dashboard -->